{# templates/drive/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>File name</th>
            <th>Storage</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        {% if files|length > 0 %}
            {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.storage }}</td>
                    <td>{{ file.location }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="9999">No files found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}